<div class="card-body">
<% if logged_in? %>
<div class="card-body">
<%= link_to fa_icon('trash-alt',style: 'color:red;font-size:1.25rem;'), [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } ,class: 'float-right'%>
<% end %>
<p>
  <strong>Name:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
 </p>
</div>
<hr/>
</div>

